header{
    width: 100%;
    height: 100px;
    color: white;
    background-color: black;

}

ul.li{
    /* display: block; */
    /* display: flex; */
    /* justify-content: space-evenly; */
    display: inline;
    /* margin-top: -30px; */
     margin-left: 90%; 
     /* float: inline-end; */
/*
    height: 30px;
    color: white;
    background-color: black;
     */
}

#content{

    width: 100%;
    height: 300px;
    border: 1px;
    background-color: lightgreen; 
    padding-top: 200px;
    text-align: center;
}

#btn{
    color: blue;
    
}

.features{
    display: flex;
    justify-content: space-evenly;
}

#feature1{
    margin-top: 50px;
    text-align: center;
    width: 300px;
    height: 200px;
    background-color: thistle;
}

#feature2{
    top: 0px;
    left: 50px;
    margin-top: 50px;
    text-align: center;
    width: 300px;
    height: 200px;
    background-color: thistle;
}

#feature3{
    margin-top: 50px;
    text-align: center;
    width: 300px;
    height: 200px;
    background-color: thistle;
}

/* .aboutus{
    display: flex;
    justify-content: space-evenly;
} */

#about{
    width: 100%;
    height: 250px;
    background-color: lightgray; 
    padding-top: 200px;
    text-align: center;
}

#contact{
    text-align: center;
    padding: 100px;
}



#name{
    width: 100%;
    height: 40px;
}

#email{
    width: 100%;
    height: 40px;
}

#msg{
    width: 100%;
    height: 100px;
}

.button{

    color: blue;
    background-color: white;
    text-align: center;
    
}